<h1>ひとことメモ</h1>

<%= render 'form_edit', comment: @comment %>
<table>
  <% @comments.each do |comment| %>
    <% if @count == params[:id].to_i then%>
      <% @style = "selected"%>
    <% else %>
      <% @style = "notselect"%>
    <% end %>
    <tr class=<%= @style%>>
      <td><%= @count %>:</td>
      <td><%= comment.created_at.strftime("[%m/%d %H:%M]") %></td>
      <td><%= comment.comment %></td>
      <td><%= link_to '編集', edit_comment_path(comment) %></td>
      <td><%= link_to '削除', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% @count += 1%>
  <% end %>
</table>
